.corpo {
  display: flex;
  justify-content: space-between;
  width: 935px;
  margin: 0 auto;
  margin-top: 88px;
}

@media (max-width: 935px) {

  .corpo {
    justify-content: center;
    width: 100%;
  }
}

@media (max-width: 614px) {
  .corpo {
    margin-top: 0;
  }
}